@model Fitness20.Models.ExerciseInfo

@{
    ViewData["Title"] = "ExerciseDetails";
}

<h1 class="text-center">Exercise Details</h1>
<div class="card mb-1">
    <div class="card-header bg-primary"><h2>@Html.DisplayFor(model => model.ExerciseName)</h2></div>
    <div class="card-body">
        <ul>
            <li>
                @Html.DisplayFor(model => model.Details)
            </li>
            <li>
                Do This Exercise
                @Html.DisplayFor(model => model.NumberOfSet) times in a week for
                @Html.DisplayFor(model => model.Duration) Minutes.
                This is @Html.DisplayFor(model => model.ExerciseType.ExerciseTypeName) Type Exercise.
            </li>
        </ul>
    </div>
</div>

        
