@model IEnumerable<Fitness20.Models.State>

@{
    ViewData["Title"] = "Index";
}

<h1 class="text-center">View All States</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Add New State</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.StateName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.StateName)
            </td>
            <td>
                <a asp-action="Edit" class="btn btn-secondary" asp-route-id="@item.StateID">Edit</a> |
                <a asp-action="Details" class="btn btn-success" asp-route-id="@item.StateID">Details</a> |
                <a asp-action="Delete" class="btn btn-warning" asp-route-id="@item.StateID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
