@model IEnumerable<Fitness20.Models.ExerciseInfo>

@{
    ViewData["Title"] = "Index";
}

<h1 class="text-center">View All Exercise</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Add New Exercise</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ExerciseName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Details)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Duration)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumberOfSet)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ExerciseType)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ExerciseName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Details)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Duration)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumberOfSet)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ExerciseType.ExerciseTypeName)
            </td>
            <td>
                <a asp-action="Edit" class="btn btn-secondary" asp-route-id="@item.ExerciseID">Edit</a> |
                <a asp-action="Details" class="btn btn-success" asp-route-id="@item.ExerciseID">Details</a> |
                <a asp-action="Delete" class="btn btn-warning" asp-route-id="@item.ExerciseID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
