@model Fitness20.Models.Club

@{
    ViewData["Title"] = "Details";
}

<h1 class="text-center">Club Details</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ClubName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ClubName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AddressLine1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AddressLine1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AddressLine2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AddressLine2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ContactNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ContactNo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.State)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.State.StateName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" class="btn btn-secondary" asp-route-id="@Model.ClubID">Edit</a> |
    <a asp-action="Index">View All Clubs</a>
</div>
